{% extends 'base.html' %} {% block title %} Clans {% endblock %} {% block content
%}

<link rel="stylesheet" href="/static/css/pages/settings/style.css" />
<link rel="stylesheet" href="/static/css/pages/leaderboard.css" />

<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>
<script src="/static/js/asserts/vue-flags.js"></script>

<div class="main-block">
  <div class="block-content right">
    <div id="general" class="single-right-block">
      <div class="right-block-header">Clan Create</div>
      <form action="/clans/create" method="post" enctype="multipart/form-data" class="setting-block-content">
        <div class="single-block-content">
          <div class="block-content--left">
            <div class="field-label is-normal">
              <label class="label">Clantag</label>
            </div>
          </div>
          <div class="block-content--right">
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input minlength="1" maxlength="6" id="clantag" class="input" type="text" name="clantag" />
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="single-block-content">
          <div class="block-content--left">
            <div class="field-label is-normal">
              <label class="label">Clanname</label>
            </div>
          </div>
          <div class="block-content--right">
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input minlength="2" maxlength="16" id="clanname" class="input" type="text" name="clanname" />
                </p>
              </div>
            </div>
          </div>
        </div>
        <button id="submit-btn" class="button is-primary" type="submit">
          <span>Save</span><span class="icon is-small"><i class="fas fa-check"></i></span>
        </button>
      </form>
    </div>
  </div>
</div>

{% if flash %}
<div class="noti-banner noti-banner-warning">
  <div class="container">
    <div class="noti-column">
      <div class="noti-col noti-col-icon"></div>
      <div class="noti-col noti-col-label">
        <div class="noti-bannertype">
          {% if status=='error' %} Warning {% elif status=='success' %} Notice
          {% endif %}
        </div>
        <div class="noti-bannertext">
          {% if status=='error' %} Uh oh! Be careful! {% elif status=='success'
          %} Hey! Listen! {% endif %}
        </div>
      </div>
      <div class="noti-banner-text">{{ flash }}</div>
    </div>
  </div>
</div>
{% endif %} {% endblock %}