{% extends "base.html" %} {% block title %} Forgot Password {% endblock %} {%
block header %}
<link rel="stylesheet" href="/static/css/pages/auth.css" />
{% endblock %} {% block content %}
<style>
  .my-con {
    margin-top: 18vh;
  }
</style>

<script>
  async function sendVerificationEmail() {
    const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    const emailInput = document.getElementById("email");
    const email = emailInput.value.trim().toLowerCase();
    const sendBtn = document.getElementById("send-btn");
    const submitBtn = document.getElementById("submit-btn");
    sendBtn.classList.add("is-loading"); //버튼에 로딩 애니메이션 추가
    sendBtn.disabled = true;

    if (!email | !emailRegex.test(email)) {
      sendBtn.classList.remove("is-loading");
      sendBtn.disabled = false;
      return alert("Please enter a valid email address.");
    }

    const formData = new FormData();
    formData.append("email", email);
    try {
      const response = await fetch("/forgot_emailchecksend", {
        method: "POST",
        body: formData,
      });

      if (!response.ok) {
        throw new Error("Server responded with an error.");
      }

      const data = await response.text();
      if (data === "sent") {
        submitBtn.disabled = false;
        alert("Verification email sent successfully!");
      } else if (!isNaN(data)) {
        submitBtn.disabled = false;
        alert(
          `Verification email has been sent. You can try again in ${data} seconds.`
        );
      } else if (data === "404 Not Found") {
        sendBtn.disabled = false; //로딩 애니메이션 넣으면서 버튼을 비활성화 하기 때문에 요청 실패시에만 버튼 원복으로 바꿈
        alert(`Not Found username From ${email}`);
      } else if (data.startsWith("ERROR | ")) {
        sendBtn.disabled = false; //로딩 애니메이션 넣으면서 버튼을 비활성화 하기 때문에 요청 실패시에만 버튼 원복으로 바꿈
        alert(`ERROR! report admin plz \n\n${data}`);
      } else {
        sendBtn.disabled = false; //로딩 애니메이션 넣으면서 버튼을 비활성화 하기 때문에 요청 실패시에만 버튼 원복으로 바꿈
        alert("Failed to send verification email.");
      }
    } catch (error) {
      console.error("Error:", error);
      alert("An error occurred. Please try again later.");
    } finally {
      sendBtn.classList.remove("is-loading");
      sendBtn.disabled = false;
    }
  }
</script>

<div class="main-block is-marginless is-paddingless is-auth">
  <div class="columns pm-reset is-weeb">
    <div class="column title-block">
      <h1 class="title" id="regtitle">Forgot Password</h1>
    </div>
  </div>
  <div class="columns pm-reset flex-lcenter is-block">
    <div class="box">
      <div class="login-bg"></div>
      <form action="/forgot" method="post" class="form-content">
        <div class="field">
          <label for="email" class="label">Email</label>
          <div class="control has-icons-left is-expanded">
            <input id="email" type="email" name="email" placeholder="e.g. {{ SenderEmail }}" class="input"
              autocomplete="email" required />
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
            <button id="send-btn" type="button" class="button is-send" onclick="sendVerificationEmail()">
              Send
            </button>
          </div>
        </div>
        <div class="field">
          <label for="verification" class="label">Email Verification</label>
          <div class="control has-icons-left">
            <input id="verification" type="text" name="emailkey" placeholder="*************" class="input" required />
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="pass" class="label">New Password</label>
          <div class="control has-icons-left">
            <input id="pass" type="password" name="new_password" placeholder="*************" class="input"
              autocomplete="new-password" required />
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="pass" class="label">Confirm New Password</label>
          <div class="control has-icons-left">
            <input id="pass" type="password" name="repeat_password" placeholder="*************" class="input"
              autocomplete="new-password" required />
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="mt-5"></div>
        <div class="dialog">
          Remember your password? <a href="/login">Login</a>
        </div>
        {% if not captchaKey() == 'changeme' %}
        <div class="field">
          <div class="h-captcha" data-sitekey="{{ captchaKey() }}" data-theme="dark"
            style="display: flex; justify-content: center"></div>
        </div>
        {% endif %}
        <div class="field">
          <button id="submit-btn" type="submit" class="button is-primary" disabled>
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% if flash %}
<div class="paper-snackbar is-{{ status }}" style="opacity: 1">{{ flash }}</div>
{% endif %} {% if not captchaKey() == 'changeme' %}
<script src="https://hcaptcha.com/1/api.js" async defer></script>
{% endif %} {% endblock %}