<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
  integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<nav id="navbar" class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" id="navbar-burger" onclick="togglenavbar()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/home"> Home </a>
        <a class="navbar-item" href="/leaderboard"> Leaderboards </a>
        <a class="navbar-item" href="/topplays"> Top Plays </a>
        <a class="navbar-item" href="/clansettings"> Clans </a>
        <!-- <a class="navbar-item" href="/rules"> Rules </a> -->
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> Socials </a>
          <div class="navbar-dropdown">

            <a class="navbar-item" href="/twitch" target="_blank">&nbsp;Twitch&nbsp;</a>
            <a class="navbar-item" href="/twitter" target="_blank">&nbsp;Twitter&nbsp;</a>
            <a class="navbar-item" href="/github" target="_blank">&nbsp;GitHub&nbsp;</a>
            <a class="navbar-item" href="/discord" target="_blank">&nbsp;Discord&nbsp;</a>
            <a class="navbar-item" href="/youtube" target="_blank">&nbsp;YouTube&nbsp;</a>
            <a class="navbar-item" href="/osuserver" target="_blank">&nbsp;osu! Server List&nbsp;</a>
          </div>
        </div>
        <!-- {% if session.authenticated %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> Clans </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/clans">&nbsp;Clan Leaderboard&nbsp;</a>
            {% if session.clan_data["id"] %}
            <a class="navbar-item" href="/settings/clansettings">&nbsp;Clan Settings&nbsp;</a>
            {% else %}
            <a class="navbar-item" href="/clans/create">&nbsp;Create Clan&nbsp;</a>
            {% endif %}
          </div>
        </div>
        {% endif %} -->
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="search-bar">
          <input id="search-txt" type="text" placeholder="Search" />
          <button onclick="search()">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <script src="/static/js/search.js"></script>
        </div>
        <div id="search-results" class="search-results"></div>
      </div>
      {% if session.authenticated %}
      <div class="navbar-item has-dropdown is-hoverable" style="zoom: 1.1">
        <a class="navbar-link">
          <div class="navbar-avatar"
            style="background: url(https://a.{{ domain() }}/{{ session.user_data['id'] }}); background-size: cover; background-position: 50%;">
          </div>
          {{ session.user_data['name'] }}
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/u/{{ session.user_data['id'] }}">
            &nbsp;Profile&nbsp;
          </a>
          <a class="navbar-item" href="/settings"> &nbsp;Settings&nbsp;</a>
          {% if session.authenticated and session.user_data['is_staff'] %}
          <a class="navbar-item" href="/admin"> &nbsp;Management&nbsp;</a>
          {% endif %}
          <hr class="navbar-divider" />
          <a class="navbar-item" href="/logout"> &nbsp;Logout&nbsp;</a>
        </div>
      </div>
      {% else %}
      <div class="navbar-item" style="zoom: 1.1">
        <div class="buttons">
          <a class="button is-primary" href="/register">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login"> Log in </a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</nav>